<!DOCTYPE html>
<html>
<head>
    <title>Tic-Tac-Toe</title>
</head>
<body>
    <h1>Tic-Tac-Toe</h1>
    <h1>Player: {{ player.nickname }}</h1><br>
    <a href="/stats">Statistics</a><br>

    {% if season %}
      <a href="/games">Start a New Game</a><br>
    {% endif %}
    <a href="/logout">Logout</a><br>
    <br>
    {% if season %}
      <h1>SEASON: {{ season.name }}</h1>
    <h1>TOP 10 PLAYERS</h1>
    <table>

        {% for player in season.top_players %}
        <tr>
            <td>{{ player.nickname }}</td>
            <td>{{ player.rank }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
</body>
</html>
