<!DOCTYPE html>
<html>
<head>
    <title>Tic-Tac-Toe - Registration</title>
</head>
<body>
    <h1>Tic-Tac-Toe Registration</h1>
    <form method="post">
        Nickname: <input type="text" name="nickname" required>
        {% if error %}
          {{ error }}
        {% endif %}
        <br>
        Age: <input type="number" name="age"><br>
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>